//author styles
 //wraps around body
 #container {
    // background-color: $container-color;
    // width:100%; 
	// max-width:1400px;
	// margin:0px auto;
	// padding:0px;
	// box-sizing:border-box;

	// display:flex;
	// flex-wrap:wrap; 
	// flex-direction:row; 
	// align-content:flex-start; 
    // align-items:stretch;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: $bg-color;
    height: 100%;
 } 


 div{
  box-sizing: border-box;
 }

 img {
   max-width: 100%;
 }

 header {
   //background-color: $sky;
   padding: 5px;
   h1 {
    text-align: center;
    color: white;
    font-family: $display-font;
    font-size: 4em;
    letter-spacing: 4px;
   }
 }

//  .parallax {
//   perspective: 1px;
//   height: 100vh;
//   overflow-x: hidden;
//   overflow-y: auto;
//   .group {
//     position: relative;
//     height: 100vh;
//     transform-style: preserve-3d;
//     background: 50% 50% / cover;
//     .layer-base {
//       position: absolute;
//       top: 0;
//       right: 0;
//       bottom: 0;
//       left: 0;
//       transform: translateZ(0);
//       .text {
//         background-color: $desert;
//         padding: 20px;
//         top: -20px;
//         font-family: $body-font;
//         font-size: 1.5em;
//       }
//     }
//     .layer-back {
//       position: absolute;
//       top: 0;
//       right: 0;
//       bottom: 0;
//       left: 0;
//       transform: translateZ(-1px) scale(2);
//     }
//   }
// }

.parallax {
  height: 1000px;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
  .group {
    height: 1000px;
    background: 50% 50% / cover;
    .layer-base {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateZ(0);
      .text {
        background-color: $desert;
        padding: 20px;
        top: -20px;
        font-family: $body-font;
        font-size: 1.5em;
      }
    }
  }
}

.background {
  z-index: 2;
}

#one {
  background: url("../img/rt1.png") no-repeat center center fixed;
  background-size: cover;
}

#two {
  top: 1000px;
  height: 700px;
  background: url("../img/rt5.png") no-repeat center center fixed;
  background-size: cover;
}

#group2 {
  top: 1000px;
}

#three {
  top: 1700px;
  background: url("../img/rt4.png") no-repeat center center fixed;
  background-size: cover;
}

#group3 {
  top: 1900px;
}

#four {
  top: 2700px;
  background: url("../img/rt6.png") no-repeat center center fixed;
  background-size: cover;
}

#group4 {
  top: 2900px;
}

#five {
  top: 4000px;
  background: url("../img/rt10.png") no-repeat center center fixed;
  background-size: cover;
}

#group5 {
  top: 4010px;
}
