//author styles
 //wraps around body
 #container {
    // background-color: $container-color;
    // width:100%; 
	// max-width:1400px;
	// margin:0px auto;
	// padding:0px;
	// box-sizing:border-box;

	// display:flex;
	// flex-wrap:wrap; 
	// flex-direction:row; 
	// align-content:flex-start; 
    // align-items:stretch;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: $bg-color;
    height: 100%;
 } 


 div{
  box-sizing: border-box;
 }

 img {
   max-width: 100%;
 }

 header {
   background-color: $sky;
   padding: 20px;
   h1 {
    text-align: center;
    color: black;
   }
 }

 .parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  .group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    .layer-base {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateZ(0);
      .text {
        background-color: $desert;
        padding: 20px;
        top: -20px;
      }
    }
    .layer-back {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateZ(-1px) scale(2);
    }
  }
}