@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Zilla+Slab&display=swap');

$back: -3px;
$back-scale: 1;
$mid: -2px;
$mid-scale: 1;
$front: -1px;
$front-scale: 1;

//COLORS
$bg-color: #c6ecf7;
$desert: #de9d77;
$sky: #3eaef6;
$rouge: #F13C49;
$clay: #CB6620;
$blush: #F9C29E;
$mailly: #FFFAF0;
$foliage: #2C3329;
$teal: #3B5556;
$periwinkle: #656AB4;
$slate: #131921;
$soft-grey: #56565E;



//FONTS
$display-font: 'Alfa Slab One', cursive;
$body-font: 'Zilla Slab', serif;

//LAYOUT

//STYLE
$round: 10px;