@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Montserrat&display=swap');

$back: -3px;
$back-scale: 1;
$mid: -2px;
$mid-scale: 1;
$front: -1px;
$front-scale: 1;

//COLORS
$bg-color: #c6ecf7;
$desert: #de9d77;
$sky: #42b4fa;

//FONTS
$display-font: 'Cormorant Garamond', serif;
$body-font: 'Montserrat', sans-serif;

//LAYOUT

//STYLE
$round: 10px;